#symbol_map {
	top: 2px;
	bottom: 2px; 
	width: 100%;
	margin: auto;
	display: block;
}

#pie_chart {
	top: 2px;
	bottom: 2px; 
	width: 100%;
	margin: auto;
	display: block;
}

#area_chart {
	top: 2px;
	bottom: 2px; 
	width: 100%;
	margin: auto;
	display: block;
	text-align: center;
}

#pop_pyramid {
	top: 2px;
	bottom: 2px; 
	width: 100%;
	margin: auto;
	display: block;
}

#line_graph {
	top: 2px;
	bottom: 2px; 
	width: 100%;
	margin: auto;
	display: block;
}

#stacked_chart {
	top: 2px;
	bottom: 2px; 
	width: 100%;
	margin: auto;
	display: block;
}
