* {
    font-family: 'Oxygen', sans-serif;
    line-height: normal;
}

body {
    width: auto;
    background-image: url(background_small.png);
    background-repeat: repeat;
}

.page {
    width: 75%;
    background-color: rgba(230,230,230,255);
    padding: 2%;
    margin: auto;
    display: block;
  }

.section {
    background-color: #f0f0f0;
    padding: 2%;
    margin: auto;
}

.button {
    font-size: 150%;
    background-color: #20799d;
    padding: 20px; 
    border: none; 
    border-radius: 25px
}

.button:hover {background-color: #1c6480}

.button:active {
    background-color: #1c6480;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.button:focus {
    background-color: #6d67b2;
}

.pure-u-1-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pure-u-1-2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pure-u-1-3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    color: #20799d;
    font-size: 300%;
}

h2 {
    text-align: center;
    color: #20799d;
    font-size: 250%;
}

h3 {
    text-align: left;
    color: #6d67b2;
    font-size: 175%;
}

p {
    text-align: left;
    color: black;
    font-size: 100%;
    padding: 10px;
}